.nav
{
    padding-top: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-title 
{
    color:white;
    text-decoration: none;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 28px 17px;
}

.main
{
    
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-container
{
    color:white;
    text-decoration: none;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 28px 17px;
}

.first-box
{
    text-align: center;
    color: #1ed760;
    text-decoration: none;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding: 28px 17px;
}

.second-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 28px 17px;
}

.third-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: none;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 28px 17px;
}


.footer
{
    height:530px;
    background-color: black;
    display:flex;
    justify-content: center;
}